@import "bourbon";
$bg-color: #011627;
$shape-color: #2EC4B6;
$shape-size: 45;

.shape {
    @include size($shape-size*1px);
    background: $shape-color;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    @include margin(25px);
    //@include flex(0 0 auto);
    border: 0 solid transparent;
    transition: .3s;
    box-sizing: border-box;
    &:hover {
        border: 9px solid rgba(white,.3);
    }
    &:active {
        top: 1px;
    }
}
.circle {
    border-radius: 50%;
}

@function md-text-shadow ($n, $color) {
    $value: '0 0 0 transparent';
    @for $i from 1 through $n*2 {
        $value: '#{$value}, #{$i * .25}px #{$i * .25}px 0 ' + $color;
    }
    @return unquote($value);
}



.text2 {
    user-select: none;
    font-weight: 500;
    @include position(left, 50% null null 50%);
    //@include transform(translate(-50%, -50%));
    font-size: 14px;
    text-align: left;
    line-height: 1;
    color: white;
    text-shadow: md-text-shadow($shape-size, darken($shape-color,5));
}



// Styling
/*html, body {
    @include size(100%);
}*/



.container {
    @include size(100%);
    //@include display(flex);
    //@include align-items(center);
   // @include justify-content(center);
   // @include flex-wrap(wrap);
}

.check {
    width: 60px;
    height: 60px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    input {
      display: none;
      &:checked + .box {
        background-color: #2EC4B6;
        
        &:after {
          top: 0;
        }
      }
    }
    
    .box {
      width: 70%;
      height: 70%;
      transition: all 1.1s cubic-bezier(.19,1,.22,1);
      border: 2px solid transparent;
      background-color: #2EC4B6;
      position: relative;
      overflow: hidden;
      cursor: pointer;
        box-shadow: 0 5px rgba(0,0,0,.2);
      &:after {
        width: 50%;
        height: 20%;
        content: '';
        position: absolute;
        border-left: 7.5px solid;
        border-bottom: 7.5px solid;
        border-color: #fafafa;
        transform: rotate(-45deg) translate3d(0,0,0);
        transform-origin: center center;
        transition: all 1.1s cubic-bezier(.19,1,.22,1);
        left: 0;
        right: 0;
        top: 200%;
        bottom: 5%;
        margin: auto;
      }
    }
    
  }

